#jsons{
    display: inline-block;
    width: 100%;
}

#json{
    width: 12.5%;
    float: left;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(243, 201, 189);
    margin: 20px;
}

#checker{
    display: none;
}

p{
    padding: 5px;
}

input{
    /* margin-left: 40%; */
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
 button:hover {
    background-color: #4CAF50;
    color: white;
  }

.transformdiv{
    background-color: rgb(190, 243, 186);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type=text], select {
    /* width: 10    0%; */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }